---
---
<footer class="main-footer">
	<!-- Navigation Bar-->
	<nav class="nav main-navigation {{hyphenate menu_item}}">
		<ol>
			{{#each cfg.nav_menu as |item|}}
				{{menu item}}
			{{/each}}
		</ol>
	</nav>
	<!-- End Navigation Bar-->
</footer>
