---
layout: default.hbs
---
<!-- Main Content Area -->
<div class="container">
  <section id="{{ slide_id }}-content" class="content-area">
    
    {{> body}}

    {{!-- Main footer --}}
	{{> footer }}
	{{!-- /Main footer --}}
	
  </section>
</div>
<!-- End Main Content Area -->
