/* --------- Main ---------  */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { 
	font-size: $root-font-size;
	-webkit-font-smoothing: antialiased;
}


body{
	font-family: $font-Avenir-Roman;
	font-size: $base-font-size;
	line-height: 1;
	color: $base-font-color;
	width: $base-width;
	height: $base-height;
	overflow: hidden;
	position: relative;
	background-color: $base-bg-color;
}

a{
	color: $base-font-color;
	text-decoration: none;
}

strong {
  font-weight: bold;
  font-family: $font-Avenir-Black;
}

em {
  font-style: italic;
}

img {
    width: 100%;
    height: auto;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: small;
}

sub { 
	top: 0.4em; 
}

.bullets{
	list-style: disc outside none;
	margin-left: 1em;
}


h1, h2, h3, h4, h5, h6 {
}

.main-wrapper{
	height: 100%;
	z-index: 1;

	.slide-content,
	.container,
	.content-area,
	article{
		height: 100%;
		overflow: hidden;
	}
	
	.content-area{
		position: relative;
	}
}

/***********************/
/***********************/
/*** Specific Styles ***/
/***********************/
/***********************/

/*** Navigation ***/
.main-footer{
	background-color: $base-bg-nav-color;
	width: 100%;
	height: 80px;
	position: absolute;
	top: 688px;
    left: 0;
	z-index: 2;
	nav {
		height: 100%;
		ol {
			list-style: none;
			height: 100%;
			li{
				height: 100%;
				display: inline-block;
				a{
					padding: 0 35px;
					display: inline-block;
					height: 100%;
				}
			}
		}
	}
}


/*** Home ***/


