// Variables
//-------------------------------------------------------------
$root-font-size: 62.5%;
$base-font-size: 3.3rem;
$base-width: 1024px;
$base-height: 768px;

$base-bg-color: #045158;
$base-bg-nav-color: rgba(0,0,0,.3);
$base-font-color: #FFFFFF;

$font-Avenir-Roman: 'Avenir-Roman', Helvetica, sans-serif;
$font-Avenir-Medium: 'Avenir-Medium', Helvetica, Arial, sans-serif;
$font-Avenir-Black: 'Avenir-Black', Helvetica, Arial, sans-serif;
$font-Avenir-Heavy: 'Avenir-Heavy', Helvetica, sans-serif;
$font-Avenir-HeavyOblique: 'Avenir-HeavyOblique', Helvetica, sans-serif;

// $anim-duration: 2s;
// $anim-duration-one: 1s;
// $anim-timingFuc: linear; //easeInOutCubic //http://easings.net/
// $anim-delay-short: .1s;
// $anim-delay-big: .5s;